In [ ]:
#List
#Lists are used to store multiple items in a single variable.

#Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

#Lists are created using square brackets:

In [1]:
#bool in python
x=100
print(bool(x))

True

In [5]:
y=0
print(bool(y))

False

In [8]:
a=20
b=30
if (a > b):
 print("a is greater than b")
else:
 print("b is greater than a")

b is greater than a

In [9]:
a=10*5
print(a)

50

In [15]:
#list contain all data type value in one list
list1=["ar",20,"big",True]

In [16]:
list1

['ar', 20, 'big', True]

In [71]:
lis=["iphone","samsung","iball","Mi","nokia","oppo"]
print(len(lis))

6

In [18]:
if "Mi" in lis:
    print("yes, it is inside the list")
else:
    print("no,its not present in the list")

yes, it is inside the list

In [50]:
print(lis[:4])

['iphone', 'samsung', 'iball', 'Mi']

In [51]:
print(lis[2:])

['iball', 'Mi', 'nokia', 'oppo']

In [52]:
lis

['iphone', 'samsung', 'iball', 'Mi', 'nokia', 'oppo']

In [72]:
lis[2]="vivo"

In [54]:
lis

['iphone', 'samsung', 'vivo', 'Mi', 'nokia', 'oppo']

In [73]:
lis[2:3]=["iball","ipad"]

In [75]:
lis

['iphone', 'samsung', 'iball', 'ipad', 'Mi', 'nokia', 'oppo']

In [85]:
list2=["vivo","blackberry"]

In [86]:
list2

['vivo', 'blackberry']

In [78]:
#To add an item to the end of the list, use the append() method:
lis.extend(list2)

In [80]:
print(lis)

['iphone', 'samsung', 'iball', 'ipad', 'Mi', 'nokia', 'oppo', 'vivo', 'blackberry']

In [81]:
#If you do not specify the index, the pop() method removes the last item.
#If you do not specify the index, the pop() method removes the last item.
lis.pop(-1)

'blackberry'

In [82]:
print(lis)

['iphone', 'samsung', 'iball', 'ipad', 'Mi', 'nokia', 'oppo', 'vivo']

In [83]:
#The del keyword can also delete the list completely.
del list2

In [92]:
#The clear() method empties the list.
list2
list2.clear()
print(list2)

[]

In [93]:
print(lis)

['iphone', 'samsung', 'iball', 'ipad', 'Mi', 'nokia', 'oppo', 'vivo']

In [101]:
# for loop using range and length
for i in range(len(lis)):
    print(lis[i])

iphone
samsung
iball
ipad
Mi
nokia
oppo
vivo

In [ ]:
#You can loop through the list items by using a while loop.

#Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

#Remember to increase the index by 1 after each iteration.

In [103]:
print(lis)

['iphone', 'samsung', 'iball', 'ipad', 'Mi', 'nokia', 'oppo', 'vivo']

In [106]:
i=3
while i<len(lis):
    print(lis[i])
    i=i+1

ipad
Mi
nokia
oppo
vivo

In [116]:
val=100
print("value is",val)

value is 100

In [117]:
input()

bhh

'bhh'

In [148]:
mob_no = input("please_enter_mob_number:-")

please_enter_mob_number:-1225555455888

In [149]:
mob_no

'1225555455888'

In [150]:
m_len=len(mob_no)
print(m_len)
if m_len==10:
    print("mobile num is valid")
else:
     print("invalid")

13
no is invalid

In [4]:
#newlist = [expression for item in iterable if condition == True]
l1=["berry","apple","papaya","pinapple","banana","watermalon"]

l2 =l1.copy()

In [5]:
l2

['berry', 'apple', 'papaya', 'pinapple', 'banana', 'watermalon']

In [6]:
l3=[]
for i in l1:
    print(i)
    l3.append(i)

berry
apple
papaya
pinapple
banana
watermalon

In [7]:
l3

['berry', 'apple', 'papaya', 'pinapple', 'banana', 'watermalon']

In [8]:
l4=[]
for i in range(len(l1)):
    print(i)
    l4.append(l3[i])

0
1
2
3
4
5

In [180]:
l4

['berry', 'apple', 'papaya', 'pinapple', 'banana', 'watermalon']

In [169]:
#sorting method in python
l4.sort()
print(l4)

['apple', 'banana', 'berry', 'papaya', 'pinapple', 'watermalon']

In [174]:
l4.sort(reverse=True)
print(l4)

['watermalon', 'pinapple', 'papaya', 'berry', 'banana', 'apple']

In [177]:
l4.reverse()
print(l4)

['watermalon', 'banana', 'pinapple', 'papaya', 'apple', 'berry']

In [181]:
l4.sort(key=str.lower)
print(l4)

['apple', 'banana', 'berry', 'papaya', 'pinapple', 'watermalon']

In [193]:
#By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
name=["Archu","avi","sneha","Sai","Piu"]
name.sort()
print(name)

['Archu', 'Piu', 'Sai', 'avi', 'sneha']

In [188]:
#Luckily we can use built-in functions as key functions when sorting a list.
#So if you want a case-insensitive sort function, use str.lower as a key function:

name.sort(key=str.lower)
print(name)

['Archu', 'avi', 'Piu', 'Sai', 'sneha']

In [190]:
name.sort(reverse=True)
print(name)

['sneha', 'avi', 'Sai', 'Piu', 'Archu']

In [192]:
name.reverse()
print(name)

['sneha', 'avi', 'Sai', 'Piu', 'Archu']

In [196]:
#Join Two Lists
#There are several ways to join, or concatenate, two or more lists in Python.
#One of the easiest ways are by using the + operator.
age=[25,23,2,28,10]
a=name+age
print(a)

['Archu', 'Piu', 'Sai', 'avi', 'sneha', 25, 23, 2, 28, 10]

In [200]:
#Or you can use the extend() method, which purpose is to add elements from one list to another list:
name.extend(age)
print(name)

['Archu', 'Piu', 'Sai', 'avi', 'sneha', 25, 23, 2, 28, 10]

In [202]:
#Another way to join two lists is by appending all the items from list2 into list1, one by one:
for x in name:
   age.append(x)
print(name)

['Archu', 'Piu', 'Sai', 'avi', 'sneha', 25, 23, 2, 28, 10]

In [203]:
#You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made 
#in list1 will automatically also be made in list2.
#There are ways to make a copy, one way is to use the built-in List method copy().
age=name.copy()
print(age)

['Archu', 'Piu', 'Sai', 'avi', 'sneha', 25, 23, 2, 28, 10]

In [205]:
name=list(age)
print(name)

['Archu', 'Piu', 'Sai', 'avi', 'sneha', 25, 23, 2, 28, 10]

In [214]:
#insert method = use to add any item in the list
nm=["archu","pyu","anu","sonu","siddhi"]
print(nm)

['archu', 'pyu', 'anu', 'sonu', 'siddhi']

In [215]:
nm.insert(1,"sai")
print(nm)

['archu', 'sai', 'pyu', 'anu', 'sonu', 'siddhi']

In [216]:
#List Methods
#Python has a set of built-in methods that you can use on lists.

#Method	    Description
#append()	Adds an element at the end of the list
#clear()	Removes all the elements from the list
#copy()-	Returns a copy of the list
#count()	Returns the number of elements with the specified value
#extend()	Add the elements of a list (or any iterable), to the end of the current list
#index()	Returns the index of the first element with the specified value
#insert()	Adds an element at the specified position
#pop()	Removes the element at the specified position
#remove()	Removes the item with the specified value
#reverse()	Reverses the order of the list
#sort()	Sorts the list

In [217]:
# list Allow duplicates 
l=["ab","bc","cd","ab","bc"]

In [218]:
print(l)

['ab', 'bc', 'cd', 'ab', 'bc']